---
layout: sfday
title: Symfony Day
ttl: Symfony Day
conf_data: "Milano, 10 ottobre 2014"
cfp: true
cfp_url: https://docs.google.com/forms/d/1GvW3jO_FqTku1A6B_kPFjD74sbRcQhGnh1z4MZT7XY0/viewform?usp=send_form
speakers: false
cfs: true
where: undefined
tickets: true
tickets_url: http://eventbrite.com/tickets-external?eid=12877698543&ref=etckt
---

{% include section-newsletter.html %}	
{% include section-contents.html %}	

{% if page.cfp %} {% include section-cfp.html %} {% endif %}
{% if page.tickets %} {% include section-tickets.html %} {% endif %}
{% if page.speakers %} {% include section-speakers.html %} {% endif %}

{% capture place %}{{'places/'}}{{page.where}}{{'.html'}}{% endcapture %}

{% include {{place}} %}	
{% include section-workshop.html %}	
{% include section-sponsors.html %}
