<section class="sponsors">
  <a name="sponsor"></a>
  <div class="container group">

    <div class="container group">

{% if page.cfs %}

    <div class="column_6 centered">
      <h3 class="center">Sponsorizza</h3>
      <p>Un grande evento è fatto anche di grandi sponsor, perché quindi non sfruttare l'occasione e contribuire alla conferenza?<br>
      <a href="mailto:info@grusp.org">Contattaci</a> per sapere come sponsorizzarci!</p>
    </div>
    <div class="clear"></div>

    <div class="column_4">
      <h4 class="gold">Gold</h4>
      <span class="euro btn">€ 1000</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro roll-up nella sala</li>
        <li>3 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="silver">Silver</h4>
      <span class="euro btn">€ 500</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>2 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="bronze">Bronze</h4>
      <span class="euro btn">€ 300</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>1 biglietto gratuito</li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>

{% endif %}

  <h3>Gli Sponsor</h3>

  <div class="gold_sponsors">
    <h4 class="gold">Gold</h4>

    <div class="clear"></div>
  </div>

  <div class="silver_sponsors">
    <h4 class="silver">Silver</h4>

    <div class="clear"></div>
  </div>

  <div class="bronze_sponsors">
    <h4 class="bronze">Bronze</h4>

    <div class="clear"></div>
  </div>

  <h3>Media Partner</h3>
  <div class="bronze_sponsors">

      <div class="clear"></div>
  </div>

  </div>
  <div class="separator"></div>
</section>
