<a name="programma"></a>
<section class="alpha_24">
  <div class="container group">
    <h3 class="center">Il programma</h3>
    <table id="schedule" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Track 1
          </th>

        </tr>
      </thead>
      <tr class="common_event">
        <td class="time">09:00 &ndash; 09:30</td>
        <td><h4><a href="#" onclick="javascript:return(false);">Check-in</a></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">09:30 &ndash; 09:45</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);">Presentazione GrUSP</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">09:45 &ndash; 10:00</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);">Presentazione pugMoRe</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">10:05 &ndash; 10:35</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);" rel="tooltip" title="
              Con l'arrivo della nuova major release di Symfony è tempo di pensare all'upgrade dei propri progetti...
              se siete preoccupati perché vi torna in mente il passaggio da symfony 1 a symfony 2 non temete,
              le cose in questo caso saranno molto più semplici (o quasi ;-)).

              Tra gli argomenti trattati in questa sessione:
              - roadmap del progetto
              - gestione delle api deprecate nel core di Symfony
              - step per l'upgrade
">Symfony3, guida alla migrazione</a></h4>
            <a href="http://twitter.com/_orso_" title="Michele Orselli">Michele Orselli</a>
            <!--br /><a href="" title="" class="slides">Slide</a>
            <br /><a href="http://vimeo.com/109614435" title="" class="video">Video</a-->
        </td>
      </tr>

      <tr class="break">
        <td class="time">10:35 &ndash; 11:00</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">11:00 &ndash; 11:45</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip"  title="
                I micro servizi sono diventati  la nuova buzzword del momento.
                Comunità e aziende stanno pian piano considerando questo stile architetturale molto promettente, che nasconde però pericoli e insidie.
                Può Symfony essere una scelta adatta per questo tipo di architetture?

                Il talk si dirama attraverso un caso di studio reale che stiamo affrontando a Sainsbury’s (uno dei più grandi food retailer UK), dove stiamo adottando i principi di questo stile architetturale e stiamo utilizzando Symfony (e le librerie di Symfony) per alcuni microservizi del sistema.
                Attraverso questa esperienza pratica, il talk cercherà di presentare svantaggi e vantaggi dell'utilizzo di Symfony in questi tipi di architettura, affrontando problemi comuni quali:

                accettazione di Symfony in un team tipicamente eterogeneo come quello coinvolto nello sviluppo di microservizi,
                come “alleggerire” il framework,
                integrazione dei microservizi,
                anatomia di un singolo microservizio,
                testing strategy a supporto del ciclo build, test & release.

              ">Symfony components in a microservice architecture</a></h4>
            <a href="https://twitter.com/dangelidaniele" title="Daniele	D'Angeli">Daniele	D'Angeli - @dangelidaniele</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">11:50 &ndash; 12:20</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="
              I messaggi HTTP sono un elemento basilare nello sviluppo web:
              le applicazioni che scriviamo quotidinamente ricevono richieste HTTP,
              le elaborano e a loro volta restituiscono risposte HTTP. Fino ad oggi,
              ogni framework ha sviluppato una sua propria astrazione dei messaggi
              HTTP per permetterne un più facile utilizzo. Di conseguenza,
              molte applicazioni hanno scelto in partenza una specifica astrazione
              dei messaggi HTTP, legandosi così ad una particolare implementazione.

              PSR-7 si propone di fornire un insieme comune di interfacce per la gestione
              dei messaggi HTTP, in modo da consentire la scrittura di componenti riusabili
              e indipendenti da un particolare framework o da una particolare implementazione.

              In questo talk vedremo quali interfacce sono definite in PSR-7, quali scelte sono state
              fatte nel loro design e daremo un'occhiata al loro utilizzo in Symfony e negli altri
              principali framework PHP
              ">Un nuovo standard, benvenuto PSR-7</a></h4>
            <a href="http://twitter.com/@marcoshuttle" title="Marco	Perone">Marco	Perone - @marcoshuttle</a>
        </td>
      </tr>

        <tr class="common_event">
            <td class="time">12:25 &ndash; 13:10</td>
            <td>
                <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="
              Ogni sviluppatore vorrebbe lavorare con una suite di test sempre più grande e con una coverage
              sempre più alta del proprio codice; ma una suite che impiega troppo tempo a completarsi diventa
              controproducente. La soluzione normalmente proposta è quella di eseguire più test in parallelo,
              ed esistono già alcuni strumenti che lo permettono.

              Quando però si eseguono test funzionali in parallelo, si incontrano sempre problemi di concorrenza
              nell'accesso al database di test, e i tool attualmente disponibili non riescono ancora a risolvere
              questo problema; ci siamo quindi spinti ad esplorare nei meandri di Doctrine, per risolvere i
              problemi di isolamento e concorrenza delle fixture, fino a sviluppare una nostra soluzione a questo
              annoso problema.

              ">Paraunit: test paralleli, Doctrine e le fixture</a></h4>
                <a href="http://twitter.com/AlessandroLai" title="Alessandro	Lai">Alessandro	Lai - @AlessandroLai</a>
            </td>
        </tr>

      <tr class="break lunch">
      <td class="time">13:10 &ndash; 14:30</td>

        <td><h4><strong>Pranzo</strong></h4></td>
      </tr>

        <tr class="common_event">
            <td class="time">14:30 &ndash; 15:00</td>
            <td>
                <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="
              Migrare applicazioni Zend Framework 1, Symfony 1 o PHP for dummies è spesso all'ordine del giorno.
              Se l'app è un blog, si butta e al limite si migrano i dati.
              Se l'app è mission critical oppure è Skynet, difficilmente sarà così semplice migrare.
              In questo talk si parlerà di alcuni metodi per poter far convivere/migrare applicazioni
              create con framework diverso da Sf2: sessioni, template engine, database, etc.
              ">Migrare senza dolore da * a Symfony 2</a></h4>
                <a href="http://twitter.com/k3a" title="Manuel Baldassarri">Manuel Baldassarri - @k3a</a>
            </td>
        </tr>

      <tr class="common_event">
        <td class="time">15:05 &ndash; 15:50</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="
              Measure is the key to science, as Richard Feynman says.

              In this talk we will cover how to integrate and use InfluxDB in order to collect and
              represent  our metrics for Symfony2 application thanks to listeners and other application
              engagements.
              ">Measure your app internals with InfluxDB (time-series database)</a></h4>
            <a href="http://twitter.com/walterdalmut" title="Walter	Dal Mut">Walter	Dal Mut - @walterdalmut</a>
        </td>
      </tr>


      <tr class="break">
        <td class="time">15:50 &ndash; 16:05</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>


      <tr class="common_event">
        <td class="time">16:05 &ndash; 16:35</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="
              JWT is an emerging standard used for authentication purposes
              It's used in the OpenID connect standard , which is giving it a lot of traction.

              This speech will show how to create a SimplePreAuthenticatorInterface approach for
              authenticating API calls to a Symfony2 backend
              ">API Authentication With JWT</a></h4>
            <a href="http://twitter.com/marcoalbarelli" title="Marco	Albarelli">Marco	Albarelli - @marcoalbarelli</a>
        </td>
      </tr>


      <tr class="common_event">
        <td class="time">16:40 &ndash; 17:10</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="
              Il caching per Doctrine è un componente fondamentale ed è per questo che la sua comprensione non è sempre
              immediata. Ci sono vari strati di cache, il loro scopo è sempre quello di diminuire le richieste o la
              complessità di elaborazione durante la creazione della native query applicabile dal vostro database.

              In questo talk vedremo nel dettaglio i tipi di cache e l’incremento delle performance di una vostra
              applicazione Symfony dopo il loro utilizzo, con uno sguardo particolare alla Second Level Cache, nuova
              funzionalità di Doctrine 2.5.
              ">Doctrine\Cache conoscerla per evitare l’effetto boomerang</a></h4>
            <a href="http://twitter.com/gianarb" title="Gianluca 	Arbezzano">Gianluca 	Arbezzano - @gianarb</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">17:10</td>
        <td><h4><a href="#" title="">Chiusura</a></h4></td>
      </tr>
    </table>

  </div>

  <div class="separator"></div>
</section>
